body {
    background-color: rgb(15, 15, 15);
}

:root {
    --text-color: rgb(197, 197, 197);
}

.title {
    color: var(--text-color);
    font-size: 50px;
    margin-bottom: 10px;
}

.link-text:hover {
    color: rgb(129, 134, 139);
}

.subtitle {
    color: var(--text-color);
    font-size: 17px;
}

.text {
    color: var(--text-color);
    font-size: 25px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.box-1 {
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
}

::selection-disabled {
  color: rgb(3, 3, 3);
  background: rgb(15, 15, 15);
}

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
    
.bear {
    text-align: center;
    margin-top: 30px;
}